.sidebar {
  height: 120vh;
  float: right;
  color: beige;
  background-color: rgb(26, 2, 20);
}

.sidebar-item {
  font-size: 1.1em;
  transition: background-color 0.45s;
  display: block;
}

.sidebar-item:hover {
  background-color: rgb(59, 9, 51);
  cursor: pointer;
}

.sidebar-title {
  height: 34px;
  margin-bottom: 5px;
  display: inline-block;
  justify-content: space-between;
}

.sidebar-title img {
  width: 1.5em;
}

.sidebar-title p {
  display: inline-block;
  margin-right: 5px;
}

.sidebarPicture {
  height: 170px;
  width: 170px;
  margin: 15px 25px;
  background-image: url("../../../public/uploads/pictures/menProfile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
